        <footer id="FarmilyFooter">
            <div class="container contents">
                <div>
                    <h1 id="footerHome">FARMily</h1>
                    <br>
                </div>
                <div>
                    <a class="noticeBtn" href="/board"><b>공지사항</b></a>
                </div>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!--api 등록 index.js 추가-->
        <script src="/js/index.js"></script>
        </div>
    </body>
</html>