<div id="mypage-container">
    <h3>프로필정보</h3>
    {{#userName}}
        <h2>{{userName}}</h2>
    {{/userName}}
    <br>
    <ul id="nav">
        <li class="list"><a href="/member/profileInfo">프로필 정보</a></li>
        <li class="list"><a href="/member/membershipJoin">우프 멤버쉽 가입</a></li><!-- 결제 내역 있으면 정보 -->
        <li class="list"><a href="/member/membership">멤버쉽 정보</a></li><!-- 결제 내역 없으면 가입 -->
        <li class="list"><a href="/host/save">호스트 되기</a></li><!-- 기존 호스트라면 호스트 정보 -->
        <li class="list"><a href="/member/question">1:1 문의</a></li><!-- 기존 호스트라면 호스트 정보 -->
    </ul>
</div>