@charset "UTF-8";

.mplist a{
    text-decoration:none;
    color:inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: grid;
    position: relative;
    grid-template-areas:
        "hd"
        "main"
        "ft";
    grid-template-rows: 75px 0.98fr 70px;
    height: 100vh
}

.container {
    flex: 1;

}
.content{
    grid-area: main;
}

.mypage-container{
    width: 20%;
    margin-right: 20px;
    padding-top: 30px;
}
.host-register-container{
    width: 80%;
    padding: 20px;
}

.mainImg {
    padding: 0px;
    width: 1300px;
    height: 560px;
}