@charset "UTF-8";

.mplist a{
    text-decoration:none;
    color:inherit;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    display: grid;
    grid-template-areas:
        "hd"
        "main"
        "ft";
    grid-template-rows: 70px 1fr 70px;
    height: 100vh
}

.container {
    flex: 1;

}

.mypage-container{
    margin-left: 0px;
    padding-left: 0px;
}

.mainImg {
    padding: 0px;
    width: 1300px;
    height: 560px;
}