{{>layout/header}}
<div class="container">
    <div class="search">
        <form class="row row-cols-lg-auto g-3 align-items-center" action="">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text">@</div>
                    <input type="date" class="form-control" placeholder="시작일" aria-label="Username" aria-describedby="basic-addon1" name="startdate" id="startdate">
                    <input type="date" class="form-control" placeholder="종료일" aria-label="Username" aria-describedby="basic-addon1" name="enddate" id="enddate">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text">인원</div>
                    <select class="form-select" name="people" id="people">
                        <option selected="selected" value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-light" onclick="addoption();">조건추가</button>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>

        <div class="list_wrap">
            <ul class="clearfix">
                {{#hostList}}
                    <li class="listhost">
                        <div class="thmimg" >
                            <img alt="" src="img/host/{{thmimg}}" width="270" height="250">
                        </div>
                        <div class="shortintro">
                            <a href="HostDetail?farmno={{farmno}}">${list.shortintro }</a>
                        </div>
                    </li>
                {{/hostList}}
            </ul>
        </div>
    </div>

    <div class="map">
        <script type="text/javascript" href="/js/maplist.js"/>
    </div>



</div>
{{>layout/footer}}